#brick {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  rigth: 0;
}

.momo {
  position: absolute;
  margin: auto;
}

#board svg {
  height: calc(#{$navbar-full} - 10px);
  width: 100vw;
}

.container,
.body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  max-width: 100vw !important;
  min-height: $navbar-full !important;
  height: $navbar-full !important;
}

#alert-area {
  display: none;
}

html,
body {
  min-height: 100vh;
}

path {
  transition-property: all;
  transition-duration: 0.01s;
  transition-timing-function: linear;
}

#board {
  filter: blur(10px);
}

.body {
  position: relative;
}

#doof-art {
  background-color: rgba(100, 100, 100, 0.2);
  position: absolute;
  top: 0;
  min-height: $navbar-full;
  min-width: 100vw;
}

// :not(.not-bobbing) > path {
//   animation: bob-up 2s linear infinite;
//   // animation-delay: 1s;
// }
// #letter_s {
//   // animation-delay: 2s;
//   animation-duration: 1.3s;
// }

// #letter_o {
//   // animation-delay: 2.4s;
//   animation-duration: 1.2s;
// }
// #letter_r {
//   // animation-delay: 2.1s;
//   animation-duration: 1.5s;
// }
// #letter_r2 {
//   // animation-delay: 2.5s;
//   animation-duration: 1.1s;
// }
// #letter_y {
//   // animation-delay: 2.3s;
//   animation-duration: 1.4s;
// }

// @keyframes bob-up {
//   0%,
//   100% {
//     transform: translate(-10px, 5vh) rotate(45deg);
//   }
//   50% {
//     transform: translate(10px, -5vh) rotate(-45deg);
//   }
// }

.col-info {
  display: inline-block;
  width: 65vw;
  padding-left: 4em;
}
.col-info p,
.col-info h1 {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // This is so resource intensive....
  animation: backgroundShift 1s infinite linear;
  // transform: rotateZ(360deg);
  background-size: 200%;
}
@keyframes backgroundShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.col-info h1 {
  padding: 0;
}

.col-doof {
  display: inline-block;
  width: 35vw;
  padding-top: 2em;
}

.doof {
  max-width: 35vw;
  height: auto;
  max-height: calc(#{$navbar-full} - 10px);
  width: auto;
  animation: flipFlop infinite 2s linear;
}

@keyframes flipFlop {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
}

#no-humor h1 {
  padding: 0;
}

#no-humor {
  text-align: center;
}

.contain-no-humor {
  position: absolute;
  width: 100vw;
  height: 10vh;
  height: calc(2.5rem + 8px + 1rem + 8px);
  top: 0;
  bottom: 0;
  margin: auto;
}

.sandals {
  left: calc((100vw - 576px) / 2 - 6px);
  right: calc((100vw - 576px) / 2 - 6px);
  width: 576px;
  height: 150px;
  position: absolute;
  z-index: 2;
  .text-box {
    border: #fff 6px solid;
    background: #000;
    padding: 15px 24px;
    display: flex;
    .icon {
      height: 72px;
      width: 72px;
      margin-right: 38px;
      margin-top: calc((150px - 72px) / 2 - 15px);
      margin-bottom: calc((150px - 72px) / 2 - 15px);
      // margin-top: -45px;
      display: inline-block;
    }
    .message-content {
      display: inline-block;
      font-family: "Comic Sans UT", "Comic Sans", "Comic Sans MS", comic,
        "Chalkboard", sans-serif;
      font-size: 28px;
      max-width: 406px;
      text-transform: lowercase;
    }
  }
}

@font-face {
  font-family: "Comic Sans UT";
  // backend bug forces us to have no spaces...
  src: url("../fonts/sans/Comic-Sans-UT.ttf");
}

footer {
  position: absolute;
  margin-top: -2em;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
}
