extends template.pug
block content
  h1 Reset password
  form(novalidate="true")#reset-form.needs-validation
    div.form-group
      label(for="password") New Password
      input(type="password", placeholder="Password")#password.form-control
      div.invalid-feedback#password-validity Invalid password or Link Expired
    button.btn.btn-primary#change-btn Change Password
