extends template.pug
block content
  h1 Signup
  .alert.alert-warning.
    Accounts are activated by the developers' discretion. Make sure to join
    the #[a(href=config.DISCORD_INV)#invite Discord server] after signing up
    to have your account reviewed.
  div.form-wrap
    form(novalidate=true).needs-validation.form#signup-form
      div.form-group
        label(for="username") Username
        input(type="text", placeholder="Username").form-control#username
        div.invalid-feedback
      div.form-group
        label(for="email") Email
        input(type="email", placeholder="Email").form-control#email
        div.invalid-feedback
      div.form-group
        label(for="discord") Discord User
        input(type="text", placeholder="discord.username").form-control#discord
        div.invalid-feedback
      div.form-group
        label(for="password") Password
        input(type="password", placeholder="Password").form-control#password
        div.invalid-feedback

      div.keep-wrap
        .alert.alert-danger.
          #[strong The service is currently invite-only.]
          You must be referred by someone before you will be granted access
          into the Discord server to be reviewed. Have your friend contact
          a core developer in the Discord server about your registration.
          Currently, joining the Discord server means an automatic kick unless
          you have been whitelisted by a developer.
          #[br] #[br]
          Make sure your friend mentions your username or DiscordTag to us
          so that we can whitelist you, or you won't be able to join.

        .form-group
          .form-check
            input(type="checkbox", required).form-check-input#invite-only
            label(for="invite-only").form-check-label.
              I have acknowledged the above notice and agree with it.
            .invalid-feedback

        p.text-muted
          | By clicking 'Signup' below, you confirm that you have read and agree to #{config.SERVICE_NAME}'s
          |  #[a(href="/faq.html#rules")] rules
          if config.PRIVACY_POLICY
            |  and 
            a(href="/privacy.html") privacy policy
          | .
        button(type="button").btn.btn-primary#submit-btn Signup
